@import "./base.css";

body{
  background-color: #FFEEDD; 
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}


a,
.orange {
  text-decoration: none;
  color: #FE8C0E;
  transition: 0.4s;
}

.hover-a:hover{
  background-color: #f9ddbe;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    flex-direction: column;
  }


}